{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posts</title>
    <link rel="stylesheet" href="{% static 'styles/estilo.css' %}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/posts">Posts</a>
        <a href="/cadastro">Cadastros</a>
        <a href="#">Login</a>
    </nav>

    <img src="{% static 'images/gatinho.jpg' %}" alt=""/>

    {% block content %}

    {% endblock %}
</body>
</html>